<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Clive</title>
</head>

<body bgcolor="black">
    <div>
        <div
            style="text-align:center; min-width:375px; min-height:50px; padding-left:20px; padding-right:20px; max-width:600px; margin:auto; padding-top:10px">

            <div align="center"
                style="background-color:#FFFFFF; padding-left:20px; padding-right:20px; max-width:550px; margin:auto; border-radius:5px; padding-bottom:5px; text-align:left; margin-bottom:40px; width:80%">
                <h2 style="padding-top:25px; min-width:600; text-align:center; font-family:Roboto">
                    Hi {username}, Welcome to Clive
                </h2>
                <hr>
                </hr>
                <p
                    style="max-width:500px; text-align:center; font-family:Roboto; padding-bottom:0px; word-wrap: normal;; line-height:25px">
                    In order for you to continue please <a href="{host}/login" target="_blank"
                        rel="noopener noreferrer">log in</a>
                    with </p>
                <p
                    style="max-width:500px; text-align:center; font-family:Roboto-Bold; padding-bottom:0px; word-wrap: normal;">
                    <p>Username : <span
                            style="font-family:Roboto-Bold; letter-spacing:5px; margin-bottom:0px">{username}</span>
                        <p>
                            <p>Password : <span
                                    style="font-family:Roboto-Bold; letter-spacing:5px; margin-bottom:0px">{pass}</span>
                            </p>
                        </p>
                        <br>
                        <p
                            style="max-width:500px; text-align:center; font-family:Roboto; padding-bottom:0px; word-wrap: normal; line-height:25px">
                            And please don't forget to reset your password!
                        </p>

                        <br>
                        <br>
                        <p
                            style="max-width:500px; text-align:center; font-family:Roboto; padding-bottom:0px; word-wrap: normal;">
                            Thank you,
                        </p>

                        <p
                            style="max-width:500px; text-align:center; font-family:Roboto; padding-bottom:0px; word-wrap: normal;">
                            The Clive Team
                        </p>
                        <p
                            style="max-width:500px; text-align:center; font-family:Roboto; padding-bottom:20px; word-wrap: normal;">
                            <a href="www.clive.com">clive.com</a>
                        </p>
                        <hr>
                        </hr>
                        <p
                            style="max-width:100%; text-align:center; font-family:Roboto; padding-bottom:10px; word-wrap: normal;; padding-top: 0px; font-size:10px">
                            You’re receiving this email because someone recently created a new Clive account. If this
                            wasn’t you, please ignore this email.
                        </p>
            </div>
        </div>
</body>

</html>